services:
  ruoyi-backend:
    container_name: ruoyi-backend
    image: ghcr.nju.edu.cn/hero-king/ruoyi-backend
    environment:
      # Spring Boot 标准环境变量
      spring.datasource.url: jdbc:mysql://mysql:3306/ry-vue?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=false&serverTimezone=Asia/Shanghai
      spring.datasource.username: ${RUOYI_MYSQL_USER:-root}
      spring.datasource.password: ${RUOYI_MYSQL_PASS:-password}
      spring.redis.host: redis
      spring.redis.port: 6379
      spring.redis.database: 0
      spring.redis.password: ${RUOYI_REDIS_PASS:-}
      # 可以添加其他 Spring Boot 配置覆盖, 如 SERVER_PORT
      # SERVER_PORT: 8080
    ports:
      - "${RUOYI_BACKEND_EXPOSE_PORT:-8080}:8080" # 映射后端端口
    restart: unless-stopped
    networks:
      - shared-network

networks:
  shared-network:
    external: true