services:
  ruoyi-backend:
    container_name: ruoyi-backend
    image: ghcr.io/hero-king/ruoyi-backend
    environment:
      # Spring Boot 标准环境变量
      spring.datasource.url: jdbc:mysql://mysql:3306/ry-vue?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=false&serverTimezone=Asia/Shanghai
      spring.datasource.username: ${RUOYI_MYSQL_USER:-root}
      spring.datasource.password: ${RUOYI_MYSQL_PASS:-password}
      spring.redis.host: redis
      spring.redis.port: 6379
      spring.redis.password: ${RUOYI_REDIS_PASS:-}
      
      # 可以添加其他 Spring Boot 配置覆盖, 如 SERVER_PORT
      # SERVER_PORT: 8080
    ports:
      - "${RUOYI_BACKEND_EXPOSE_PORT:-8080}:8080" # 映射后端端口
    depends_on: # 确保数据库和 Redis 先启动 (但不保证完全可用)
      - mysql
      - redis
    restart: unless-stopped